<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Resume</title>
</head>
<!-- Embedded Google doc file -->
<!-- The funny thing about embedding this google doc is that the alignments are off.
Because of this, I had to input each individual space for lines that contain both left and right aligned entries -->
<body>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vRuqzWM-O4_H7FRCNlwmeUVzypzCHwVcHWRGcgYjCW5To717PypRgdsw1Gc7sH1kpK2T7u_eeq8Jf7D/pub?embedded=true"width = 1063px height = 1375px></iframe>
</body>
</html>